@font-face {
  font-family: "Code-Pro-LC";
  src: url("fonts/Code-Pro-LC.ttf") format("truetype");
}
@font-face {
  font-family: "Code-Pro-Light-LC";
  src: url("fonts/Code-Pro-Light-LC.ttf") format("truetype");
}

body {
  font-family: "Code-Pro-LC", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  color: #fff;
  width: calc(100% - 70px);
  height: 66px;
  margin-left: 70px;
  background-color: #18191b;
  position: relative;
  padding: 20px;
  justify-content: space-between;
  flex: 1;
  display: flex;
  transition: margin-left 0.3s;
  z-index: 2;
}

.header .right {
  display: flex;
  justify-content: flex-end;
}

.header .right .help {
  margin: 5px;
  margin-right: 2vw;
}

.header .right .help i {
  margin-right: 5px;
}

.header .right .logout {
  margin: 5px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 12px;
  margin-left: 5px;
}

.username {
  color: white;
  font-size: 18px;
}

.sidebar {
  z-index: 5;
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #18191b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: width 0.3s;
}

.sidebar a {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  padding-left: 20px;
  margin-bottom: 6px;
  transition: background-color 0.3s;
  position: relative;
}

.sidebar a.active {
  background-color: #252627;
}

.sidebar img {
  width: 40px;
  height: 40px;
  margin: 0px 12px 25px 10px;
}

.sidebar a i {
  font-size: 30px;
  font-weight: 100;
  margin-top: 5px;
  margin-right: 20px;
}

.sidebar a span {
  display: none;
  font-size: 16px;
}

.sidebar a:hover {
  background-color: #252627;
}

.content {
  margin-left: 70px;
  padding: 20px;
  flex: 1;
}

.submenu {
  background-color: #252627;
  z-index: 2;
  color: white;
  padding-top: 70px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 70px;
}

.submenu .title {
  font-family: "Code-Pro-LC", Arial, sans-serif;
  font-size: 22px;
  padding-left: 20px;
  padding-top: 30px;
  margin-bottom: 10px;
}

.submenu .underline {
  height: 1px;
  margin-left: 20px;
  width: 80%;
  background-color: #fff;
}

.submenu .item {
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 9px;
  padding-top: 8px;
  padding-bottom: 6px;
  font-size: 15px;
}

.submenu a {
  text-decoration: none;
}

.submenu .item:hover {
  background-color: #18191b;
  border-radius: 6px;
}

.submenu .item.active {
  background-color: #555555;
  border-radius: 6px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .content {
    margin-left: 400px;
    margin-bottom: 70px; /* Adjust for the sidebar height */
  }
  .lumo-icon {
    display: none;
  }
  .sidebar {
    width: 100%;
    height: 70px;
    flex-direction: row;
    bottom: 0;
    top: auto;
    padding-top: 0;
    justify-content: space-around;
  }

  .sidebar a {
    height: 70px;
    margin-bottom: 0;
    width: 70px;
    justify-content: center;
  }

  .header {
    margin-left: 0;
    width: 100%;
  }

  .submenu {
    padding-top: 0;
    height: auto;
    width: 100%;
    left: 0;
    top: auto;
    bottom: 70px; /* Adjust for the sidebar height */
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .submenu.visible {
    opacity: 1;
    visibility: visible;
  }

  .content.shifted {
    margin-bottom: 270px; /* Adjust for the sidebar height + submenu height */
  }
}
